@import url(https://fonts.googleapis.com/css?family=Karla:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Hind:400,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,700,600,900,800);

@font-face {
	font-family: 'Pixeden';
	src: 	url('/assets/fonts/pixeden/Pe-icon-7-stroke.woff') format('woff'),
			url('/assets/fonts/pixeden/Pe-icon-7-stroke.svg') format('svg'),
			url('/assets/fonts/pixeden/Pe-icon-7-stroke.ttf') format('truetype'),
			url('/assets/fonts/pixeden/Pe-icon-7-stroke.eot') format('embedded-opentype');
}


$font-size: 11px;
$primary-color: rgb(36, 118, 233);
$primary-dark: #2a2e33;

$secondary-color: #39d2c9;

$tert-color: black;
$name-font: 'Hind';
$primary-color-light: lighten($primary-color, 20%);

html, body {
	width:794px;
	height:1122px;
	font-family: 'Karla';
	margin: 0 auto;
	border: 1px solid rgba(214, 214, 214, 0.2);
}

p {
	// font-family: 'Work Sans';
}

.resume {
	margin: 1.5em 1.5em;
	height: 95%;
}

.section {
	padding-left: 10px;
	margin-bottom: 20px;
}

.col {
	height: 100%;
}

.col-1 {
	@extend .col;
	width: 35%;
	border-right: 1px solid rgba(lighten($primary-dark, 50%), 0.2);
}

.col-2 {
	@extend .col;
	width: 65%;
}

.business-card {
	// border: 1px solid transparent;
	border-radius: 3px;
	// background: linear-gradient(to top right, rgba(36, 118, 233, 0.5) 50%, rgba(36, 118, 233, 0.5) 50%);
}

.business-card-content {
	padding-top: 20px;
	padding-left: 10px;
	margin-bottom: 40px;

	
		color: $secondary-color;
		min-width: 17px;
	}

i {
}

.name {
	color: $primary-dark;
	// text-shadow: 1px 3px 4px rgba(0,0,0,0.1);
	font-weight: 700;
	font-size: 2.2em;
}

.contact-info {
	color: lighten($primary-dark, 30%);
	font-family: 'Work Sans';
	font-weight: 200;
	padding-left: 5px;
	font-size: 0.8em;
}

.interests {

	p {
		margin-right: 20px;
	}
}

.section-header {
	border-bottom: 1px solid $secondary-color;
	display: inline-block;
	width: 200px;
	margin-bottom: 10px;
}

.school {
	// font-family: 'Work Sans';
	// font-size: 0.9em;
	// font-variant: bold;
}