@import url(https://fonts.googleapis.com/css?family=Karla:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Hind:400,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,700,600,900,800);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,900italic,900,700italic,700,600italic,600,400italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700italic,700,400italic);


$font-size: 11px;
$primary-color: #2781A2;
$primary-dark: rgba(0,0,0,0.87);
$secondary-color: #2781A2;
$tert-color: black;
$name-font: 'Hind';
$heroku: #7e5ea2;

html, body {
	width:794px;
	color: $primary-dark;
	height:1122px;
	font-family: 'Source Sans Pro';
	margin: 0 auto;
}

h2 + p {
	margin-top: 0;
}

p {
	font-weight: 300;
}


ul {
	margin-bottom: 0;
	margin-top: 0;
	list-style-position: outside;
	padding-left: 0;

	li {
		margin-left: 1em;
		margin-bottom: 0.2em;
		font-size: 0.9em;
	}
}

.resume {
	position: relative;
	margin: 1.5em 1.5em;
	height: 95%;
}

.section {
	padding-left: 10px;
	margin-bottom: 20px;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
}

.col {
	height: 100%;
}

.col-1 {
	@extend .col;
	width: 30%;
	border-right: 1px solid rgba(lighten($primary-dark, 50%), 0.2);
}

.col-2 {
	@extend .col;
	width: 64%;
	padding-left: 1.5em;
}

.business-card {
	border-radius: 3px;
}

.business-card-content {
	padding-top: 13px;
	padding-left: 10px;
	margin-bottom: 20px;

	i {
		color: $secondary-color;
		min-width: 17px;
	}

}

.name {
	font-weight: 700;
	font-size: 2.2em;
}

.contact-info {
	color: rgba(0,0,0,0.54);
	font-weight: 200;
	padding-left: 5px;
	font-size: 0.8em;
}

.technologies {
	.content-header {
		margin-top: 0.3em;
		margin-bottom: 0.2em;
	}

	.skills {
		font-size: 0.95em;
		font-weight: 300;
	}
}

.code {
	display: inline-block;
	font-family: 'Anonymous Pro';
	padding: 2px 4px;
	font-size: 0.8em;
	border-radius: 4px;
	border: 1px solid #d5d4d3;
	background-color: rgba(253, 225, 162, 0.33);
	color: black;
}

.interests {
	font-size: 0.95em;

	p {
		margin-right: 20px;
	}
}

.myvest-logo {
	&.my {
		color: #33488a;
	}

	&.vest {
		color: #1471b4;
	}
}

.section-header {
	border-bottom: 1px solid $secondary-color;
	display: inline-block;
	margin-bottom: 10px;
}

.content-header {
	display: block;
	font-weight: 600;
}

.school {
	@extend .content-header;
}

.description {
	@extend .contact-info;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0.4em;
}

.project-header {
	@extend .content-header;
}

.company {
	@extend .content-header;
	font-size: 1.2em;
	display: inline-block;
}

.position {
	@extend .contact-info;
	font-size: 1em;

	a {
		color: $heroku;
	}
}

.company-section:not(:first-child) {
	margin-top: 10px;
}

.company-description {
	@extend .description;
	opacity: 0.7;
	font-variant: italic;
}

.section-header-bubble {
	@extend .section-header;
	display: block;
	background-color: $primary-color;
	padding: 0 0.5em;
	border-radius: 3px;
	border: 1px solid $primary-color;
	line-height: 1.1;

	&.small {
		font-size: 1.2em;
	}
}

.professional-experience {
	font-size: 0.95em;

	.section-header-bubble:first-of-type {
		margin-top: 1.1em;
		margin-left: -9px;
	}
}

.project-content {
	margin-bottom: 1em;
}

.built-with {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 10px;
	span {
		font-size: 0.7em;
		font-weight: 300
	}
}

.white {
	color: white;
}

.instawork-logo {
	font-family: 'HelveticaNeue';
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.4px;
	color: #4eaacc;
}

.postmates-logo {
	display: inline-block;
	flex: auto;
	height: 20px;
	position: relative;
	top: 4px;
}