@import url(https://fonts.googleapis.com/css?family=Karla:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Hind:400,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,700,600,900,800);
@font-face {
  font-family: 'Pixeden';
  src: url("/assets/fonts/pixeden/Pe-icon-7-stroke.woff") format("woff"), url("/assets/fonts/pixeden/Pe-icon-7-stroke.svg") format("svg"), url("/assets/fonts/pixeden/Pe-icon-7-stroke.ttf") format("truetype"), url("/assets/fonts/pixeden/Pe-icon-7-stroke.eot") format("embedded-opentype"); }

html, body {
  width: 794px;
  height: 1122px;
  font-family: 'Karla';
  margin: 0 auto;
  border: 1px solid rgba(214, 214, 214, 0.2); }

.resume {
  margin: 1.5em 1.5em;
  height: 95%; }

.section {
  padding-left: 10px;
  margin-bottom: 20px; }

.col, .col-1, .col-2 {
  height: 100%; }

.col-1 {
  width: 35%;
  border-right: 1px solid rgba(166, 173, 182, 0.2); }

.col-2 {
  width: 65%; }

.business-card {
  border-radius: 3px; }

.business-card-content {
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 40px;
  color: #39d2c9;
  min-width: 17px; }

.name {
  color: #2a2e33;
  font-weight: 700;
  font-size: 2.2em; }

.contact-info {
  color: #6f7a87;
  font-family: 'Work Sans';
  font-weight: 200;
  padding-left: 5px;
  font-size: 0.8em; }

.interests p {
  margin-right: 20px; }

.section-header {
  border-bottom: 1px solid #39d2c9;
  display: inline-block;
  width: 200px;
  margin-bottom: 10px; }
