@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Hind:400,700);
@font-face {
  font-family: 'myFont';
  src: url("Pe-icon-7-stroke.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  width: 794px;
  height: 1122px;
  font-family: 'Karla';
  margin: 0 auto;
  border: 1px solid rgba(214, 214, 214, 0.2); }

[class^='pe-'] {
  font-family: 'myFont'; }

.pe {
  font-family: 'myFont'; }

.resume {
  margin: 1.5em 1.5em; }

.name {
  font-family: "Hind";
  font-weight: 700;
  font-size: 2.2em; }
